*{
    box-sizing: border-box;
}
body{
    width: auto;
    height: auto;
    padding-left: 200px;
    padding-right: 200px;
}
.header{
    text-align: center;
}
.row{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;

    display: -webkit-flex;
}
.column {

    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 25%;
    padding: 10px;
}
.column:hover{
   box-shadow: 2px 2px 2px 2px #eff1f1;
}
@media (max-width: 600px) {
    .row{
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
a{
    text-decoration: none;
    display: block;
    width: 200px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.price-regular{
color: #a2a2a2;
    font-size: 11px;
    text-decoration: line-through;
    text-align: right;
    font-weight: 300;
}
.price-regular::after{
    content: "đ";
}
.final-price{
    color: black;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}
.final-price::after{
    content: "đ";
}
.title{
    color: black;
}
.product-image{
    width: auto;
}